name: Push to DockerHub

on:
  push:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to Docker Hub
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Set short git commit SHA
      id: vars
      run: echo "short_sha=$(git rev-parse --short ${{ github.sha }})" >> $GITHUB_OUTPUT

    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: .
        platforms: linux/amd64,linux/arm64/v8
        push: true
        tags: |
          ${{ secrets.DOCKER_USER }}/devtools:${{ steps.vars.outputs.short_sha }}
          ${{ secrets.DOCKER_USER }}/devtools:latest


    # TODO: Disabled because it only works for non multiarch builds
    # - name: Install
    #   run: sudo apt-get install -y make git

    # - name: Docker login and push
    #   env:
    #     DOCKER_USER: ${{secrets.DOCKER_USER}}
    #     DOCKER_TOKEN: ${{secrets.DOCKER_TOKEN}}
    #   run: make push
